* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Boot CSS */

html, body{
    overflow-x: hidden;
    height: 100%;
}

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.w50 {
    padding: 0 1%;
    width: 50%;
}

.w33 {
    padding: 0 1%;
    width: 33%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


/* Boot CSS */

/* Header */
#home-button{
    max-width: 100%;
    max-height: 100%;
    margin-left: 3.5%;
    transition: transform 0.2s ease;
    padding: -10px;
}

#home-button:hover{
    transform: scale(1.2);
}
 
header{
    flex-direction: row;
    display: flex;
    position: sticky;
    top: 0;
    height: 8vh;
    min-height: 70px;
    width: 100%;
    background-color: rgba(28, 39, 61, 0.95); 
    box-sizing: border-box;
    justify-content: flex-start;
}


/* aplica para os 'a' nao visitados e os 'a' visitados */
a, a:visited{
    color: white;
    text-decoration: none;
}

/* seletor de filho direto */
header > nav{
    display: flex;
}

.nav-list{
    font-family: "Poppins", sans-serif;
    display: inline;
    position: fixed;
    margin: 20px 0vw 5px 0vw;
    font-size: 100%; 
}

.nav-bar{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 74px;
}

.nav-li{
    margin:0px 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.nav-li:hover{
    transform: scale(1.2);
}

.mobile {
    display: none;
}

/* Header */

/* home */
#section-home{
    display: flex;
    background-image: url("../img/Background.png");
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* min-height: auto; para aumentar altura conforme a escrita */
    min-height: auto;
    height: 95%;
    width: 50vw;
    margin:5vh 15vw 5vh 15vw;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border-style: ridge;
    border-color: #b10c43;
    text-align:center;
}

.container{
    display: block;
    padding-top: 15px;
    margin: 10px auto;
    min-width: 200px;
    width: 90%;
    text-align:center;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: clamp(20px, 1vw, 24px); 
    margin: 0 auto;
    display: block;
}

.imagem{
    padding-top: 20px;
    width: 80%;
}

.Texto{
    display: block;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.sub-titulo{
    padding-top: 10px;
    margin: 0 auto;
    justify-content: center;
    display: block;
    text-align: center;
    font-size: clamp(7px, 18px, 20px); 
}
/* home */

/* Pokedex */
.section-pokedex{
    display: flex;
    background-image: url("../img/Background.png");
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-pokedex {
    background-image: url("../img/pokedex.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 10px;
    height: 90vh;
    min-width: 500px;
    min-height: auto;
    width: 70vh;
    margin: 5vh 15vw;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border-style: ridge;
    box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #dd3268;
    justify-content: center;
    align-items: center;
    /* tira a barra de rolagem vertical */
    scrollbar-width: none;  
}

/* esconde a barra de rolagem dos navegadores webkit do article */
article::-webkit-scrollbar{
    display: none;
}

.scroll-container {
    /* usei para mover o scroll-container para o meio */
    transform: translate(-5%, 5%);
    width: 60%;
    height: 50%;
    /* ver conteudo em excesso scrollando */
    overflow-y: scroll;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #c3e2ff;
    padding: 20px;
    /* tirando barra de rolagem para outros navegadores */
    -ms-overflow-style: none;
    /* tirando barra de rolagem */
    scrollbar-width: none;  
    /* sombra atrás de sombra */
    box-shadow: -5px 5px 0px #531328, -8px 8px 0 #200810;
}

/* esconde a barra de rolagem dos navegadores webkit do scroll-container*/
.scroll-container::-webkit-scrollbar{
    display: none;
}

.card-container {
    width: 100%;
    display: grid;
    /* 3 colunas ocupando 1 fração do espaço disponivel */
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    background-color: #bbbbbb;
    color: white;
    padding: 10px;
    max-height: 150px;
    min-height: 100px;
    height: 15vh;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(121, 121, 121, 0.7);
    text-align: center;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    /* transição do hover */
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

#card1{
    background-image: url(../img/pokemons/001.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card2{
    background-image: url(../img/pokemons/002.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card3{
    background-image: url(../img/pokemons/003.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card4{
    background-image: url(../img/pokemons/004.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

#card5{
    background-image: url(../img/pokemons/005.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

#card6{
    background-image: url(../img/pokemons/006.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card7{
    background-image: url(../img/pokemons/007.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card8{
    background-image: url(../img/pokemons/008.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card9{
    background-image: url(../img/pokemons/009.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card10{
    background-image: url(../img/pokemons/010.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card11{
    background-image: url(../img/pokemons/011.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
}

#card12{
    background-image: url(../img/pokemons/012.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card13{
    background-image: url(../img/pokemons/013.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card14{
    background-image: url(../img/pokemons/014.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card15{
    background-image: url(../img/pokemons/015.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card16{
    background-image: url(../img/pokemons/016.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card17{
    background-image: url(../img/pokemons/017.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card18{
    background-image: url(../img/pokemons/018.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card19{
    background-image: url(../img/pokemons/019.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card20{
    background-image: url(../img/pokemons/020.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card21{
    background-image: url(../img/pokemons/021.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card22{
    background-image: url(../img/pokemons/022.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card23{
    background-image: url(../img/pokemons/023.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#card24{
    background-image: url(../img/pokemons/024.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

/* Pokedex */

/* Whatsapp */

.btnWhatsapp{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: rgb(75, 221, 75);
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.438);
    animation-name: whatsapp;
    animation-duration: 6s;
    animation-iteration-count: 3;
}

@keyframes whatsapp{
    from{background-color: rgb(75, 221, 75);}
    to{background-color: black;}
}
/* Whatsapp */

/* Autor */

.section-autor{
    display: flex;
    background-image: url("../img/Background.png");
    /* repeat para criar efeito infinito */
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-autor{
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-top: 30px;
    padding: 10px;
    height: 60vh;
    width: 70vw;
    /* 0.95 para deixar transparente */
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border-style: ridge;
    border-color: #b10c43;
    justify-content: center;
}

.container{
    display: block;
    padding-top: 15px;
    margin: 50px auto;
    min-width: 200px;
    width: 500px;
    max-width: 600px;
    background-color: transparent;
    text-align:center;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.texto{
    display: block;
    font-size: 20px;
    text-align: center;
}

.sub-titulo{
    justify-content: center;
    display: block;
    text-align: center;
    font-size: clamp(7px, 25px, 20px); 
}

.espaco{
    height: 20vh;
}

.container-autor{
    max-width: 40vw;
    margin: 0 auto;
}

/* Autor */


/* footer */
footer{
    background-color: rgba(28, 39, 61, 0.95); 
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;

}

footer.fixed{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

section.erro404{
    padding: 150px;
    text-align: center;
    min-height: 500px;
    font-size: 24px;
}

section.erro404 i{
    padding: 0 10px;
}

section.erro404 h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

section.erro404 a{
    color: rgb(75, 221, 75);
}

.espaco404{
    height: 44.4vh;
} 

/* Contato */

.section-contato{
    display: flex;
    background-image: url("../img/Background.png");
    background-repeat: repeat;
}

.contato-container{
    display: block;
    max-width: 800px;
    margin: 30px auto;
}

.contato-container input[type="text"]{
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    font-size: 18px;
}

.contato-container textarea{
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    font-size: 18px;
    min-height: 150px;
    resize: vertical;
}

.contato-container input[type="submit"]{
    width: 100%;
    margin: 6px 0;
    margin-bottom: 15px;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
}

.bullets{
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.bullets span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 5px;
}

.bullets span.active-slider{
    background-color: rgb(75, 221, 75);;
}

.map iframe{
    width: 100%;
}
/* Contato */


    


/* Media screen para mobile */
@media screen and (max-width: 768px){
    img{
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }

    .barras{
        padding-left: 70vw;
        padding-top: 2vh;
    }

    #home-button{
        border-right: 70vw;
    }

    #home-button:hover{
        transform: scale(1.1);
    }

    .w50{
        padding: 10px;
        width: 100%;
    }

    nav.nav-bar{
        display:none;
    }

    nav.mobile{
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
        z-index: 100;
    }

    nav.mobile ul{
        margin-top: 11px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        display: none;
        z-index: 100;
    }

    nav.mobile li{
        display: block;
        list-style-type: none;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        z-index: 100;
    }

    li{
        z-index: 100;
    }

    nav.mobile a{
        text-decoration: none;
        color: white;
        font-size: 22px;
        z-index: 100;
    }

    section.especialidades{
        display: block;
    }

    .w33{
        width: 100%;
    }

    .w50{
        width: 100%;
    }

    .article-autor{
        margin-top: 15px;
        width: 95%;
        height: 95vh;
        margin: 0 auto;
    }

    .texto{
        display: block;
        font-size: 18px; 
        align-items: center;
    }

    .container-autor{
        max-width: 70vw;
        margin: 0 auto;
    }

    
}




